Found device smartbeedesigns_bee_data_logger at G:\, running CircuitPython 9.2.8.
adafruit_ntp==3.3.4
adafruit_connection_manager==3.1.5
adafruit_ticks==1.1.4
adafruit_ds3231==2.4.25
adafruit_minimqtt==8.0.2
adafruit_bus_device==5.2.13
adafruit_register==1.10.4
